<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container" *ngIf="islem!='detay'">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Ders Adı</mat-label>
      <mat-select placeholder="Ders Seçiniz" formControlName="KategoriId" required>
        <mat-option [value]="kat.KategoriId" *ngFor="let kat of kategoriler">{{kat.KategoriAdi}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Soru</mat-label>
      <input matInput placeholder="Soru"  formControlName="Baslik" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cevap</mat-label>
      <textarea matInput placeholder="Cevap" formControlName="Icerik" required></textarea>
    </mat-form-field>
    
  </form>
  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)"
    [disabled]="frm.invalid">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>&nbsp;
</div>



<div class="container" *ngIf="islem=='detay'">

  <h2>{{yeniKayit.Baslik}}</h2>
  <div [innerHTML]="yeniKayit.Icerik | safeHtml"></div>
  <p>Bu Makale {{yeniKayit.Okunma}} Kez Okundu</p>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Kapat</button>
</div>